<div>
    <div class="ilt-list-pre">{{{ preTextArea }}}</div>
    <div class="ilt-list-list">
        <ul>
            {{#each listItems}}
            <li>{{{textArea}}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="ilt-list-post">{{{ postTextArea }}}</div>
</div>