<div id="END_BLOCK">
    <div class="END_BLOCK__contents">
        <div class="END_BLOCK__contents__brand">
            <img src="assets/first-last-logo.png" />
        </div>
        <div class="END_BLOCK__contents__courseware">
            <div>07 Air Vehicle Jacking and Levelling Lesson</div>
        </div>
    </div>
</div>