<div id="START_BLOCK">
    <div class="START_BLOCK__contents">
        <div class="START_BLOCK__contents__brand">
            <img src="assets/first-last-logo.png" />
        </div>
        <div class="START_BLOCK__contents__customer">
            <div>NAWSARH</div>
        </div>
        <div class="START_BLOCK__contents__courseware">
            <div>07 Air Vehicle Jacking and Levelling Lesson</div>
        </div>
        <div class="START_BLOCK__contents__job-role">
            <div>B1.3</div>
        </div>
        <div class="START_BLOCK__contents__chapters">
            <div>(ATA Chapters: 07, 08)</div>
        </div>
        <div class="START_BLOCK__contents__copyright">
            <div>© Copyright 2018 Leonardo MW Ltd</div>
        </div>
        <div class="START_BLOCK__contents__disclaimer">
            <div>
                This document contains information that is confidential and proprietary to Leonardo MW Ltd (‘the Company’) and is supplied on the express condition that it may not be disclosed to any third party, or reproduced in whole or in part, or used for manufacture, or used for any purpose other than for which it is supplied, without the prior written consent of the Company. Every permitted disclosure, reproduction, adaptation or publication of this document in whole or in part and in any manner or form shall prominently contain this notice.
            </div>
        </div>
    </div>
</div>