<div>
    <p><b>IGNORING:</b>DESCRIPTION,MEDIA_ALT_TEXT,CAPTION,ISTHUMBNAIL,THUMBNAIL,THUMBNAIL_MEDIA_ALT_TEXT,AUDIOFILE,AUDIOLABEL,MEDIA_TYPE,PLAYER_ID,WIDTH,HEIGHT,ISMAINTAINRATIO</p>
    <p><b>IGNORING:</b>Text items: TITLE,TEXT,POSITION,VALIGN,ALIGN</p>
    <p><b>IGNORING:</b>alignment</p>
    <img src="{{ assetFile }}"/>
</div>